# - CLANG-FORMAT STYLE OPTIONS: https://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never

IndentAccessModifiers: false
AccessModifierOffset: 0
NamespaceIndentation: All

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false
  AfterFunction: false
  AfterClass: false
  AfterStruct: false
  AfterUnion: false
  AfterNamespace: false
  AfterEnum: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None

IndentCaseLabels: false
SpaceAfterCStyleCast: true

ColumnLimit: 0

MaxEmptyLinesToKeep: 1
Cpp11BracedListStyle: false
AlignTrailingComments: true
ReflowComments: true
SpacesBeforeTrailingComments: 2

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '<[[:alnum:].]+>'
    Priority: 1
  - Regex: '.*'
    Priority: 2
SortIncludes: CaseSensitive

AlignEscapedNewlines: Left
